apiVersion: v1
kind: Service
metadata:
  name: calculator-app
  labels:
    app: calculator-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: calculator-app

